dev_mode=true
show_sql=true
upload_path=D:\\temp\\file_upload

jdbc.driver=com.mysql.jdbc.Driver
# jdbc.url=jdbc:mysql://www.ruizhishu.com:3306/xy_kotofusa?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
# jdbc.user=xiyuan
# jdbc.password=xiyuan@147258
jdbc.url=jdbc:mysql://192.168.10.12:3306/charge?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
jdbc.user=hssydbuser
jdbc.password=passwd@hs3u
#jdbc.url=jdbc:mysql://www.ruizhishu.com:3306/charging?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
#jdbc.user=root
#jdbc.password=mypd654321